.jumbotron {
  text-align:center;
  background-color:transparent;
}

body {
}

.result {
  display: none;
}

.btn {
  border: 1px solid black;
  background-color: lightslategrey;
  margin-top: 25px;
}