.jumbotron {
  text-align:center;
  background-color:transparent;
  color: darkred
}

body {
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}

#result4 {
  display: none;
}

.btn {
  border: 1px solid black;
  background-color: lightslategrey;
  margin-top: 25px;
}