.jumbotron {
  text-align:center;
  background-color:transparent;
  color: black;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

.form-group {
  text-align: center;
}

.img1 {
 width: 100%;
}

body {
  background-color: aliceblue;
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}

#result4 {
  display: none;
}

.btn {
  border: 1px solid black;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.result {
  text-align: center;
}

.rubyimg {
  width: 75%;
  height: 75%;
}

.javaimg {
  width: 75%;
  height: 75%;
}

.cimg {
  width: 75%;
  height: 75%;
}

.pythonimg{
  width: 75%;
  height: 75%;
}